<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<!--  resultMap 조회된 resultMap의 결과를 특정 객체에 맵핑할 맵핑 정보를 기술하는 것 -->
	<!-- board -->
	<resultMap id="boardResultMap" type="Board">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="COUNT" property="count"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<!-- category -->
	<resultMap type="cateResultMap" id="Caregory">
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
	</resultMap>
	<!-- attachment -->
	<resultMap type="attaResultMap" id="Attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="REF_BNO" property="refBno" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="STATUS" property="status" />
	</resultMap>
	
<!-- 
	select문 사용시
	<select id="식별자" resultType="결과타입" | resultMap="직접 매핑한 resultMap의 아이디">
		select * from Blog where id = #{id}
	</select>
 -->
 	<select id="selectAllBoardCount" resultType="int">
 		SELECT COUNT(*)
 		FROM BOARD
 		WHERE STATUS = 'Y'
 	</select>
 
 	<select id="selectAllBoard" resultMap="boardResultMap">
	 	SELECT BOARD_NO,
				CATEGORY_NAME,
				BOARD_TITLE,
				MEMBER_ID,
				COUNT,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM BOARD A
	    JOIN CATEGORY USING(CATEGORY_NO)
	    JOIN MEMBER C
	    ON A.BOARD_WRITER = C.MEMBER_NO
	    WHERE A.STATUS = 'Y'
	    AND A.BOARD_TYPE = 1
	    ORDER BY A.BOARD_NO DESC
 	</select>
 	
 	<select id="categoryList" resultMap="Caregory">
 		SELECT CATEGORY_NO,
				CATEGORY_NAME
		FROM CATEGORY
 	</select>
 	
 	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(
			BOARD_NO,
			BOARD_TYPE,
			CATEGORY_NO,
			BOARD_TITLE,
			BOARD_CONTENT,
			BOARD_WRITER,
			COUNT,
			CREATE_DATE,
			STATUS
		) VALUES (
			SEQ_BNO.NEXTVAL,
			#{boardType},
			#{categoryNo},
			#{boardTitle},
			#{boardContent},
			#{boardWriter},
			0,
			SYSDATE,
			'Y' 
		)
 	</insert>
 	
 	<insert id="insertAttachment" parameterType="Attachment">
 		INSERT INTO ATTACHMENT (
			FILE_NO,
			REF_BNO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			UPLOAD_DATE
		) VALUES (
			SEQ_FNO.NEXTVAL,
			SEQ_BNO.CURRVAL,
			#{originName},
			#{changeName},
			#{filePath},
			SYSDATE
		)
 	</insert>

	<select id="selectBoardFile" parameterType="int" resultMap="Attachment">
		SELECT FILE_NO,
				REF_BNO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_PATH,
				UPLOAD_DATE,
				FILE_LEVEL,
				STATUS
		FROM ATTACHMENT
		WHERE REF_BNO = #{boardNo}
		AND STATUS = 'Y'
	</select>
	
	<update id="updateBoardDetail" parameterType="Board">
		UPDATE BOARD
		SET
			CATEGORY_NO = #{categoryNo},
			BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<select id="boardDetail" parameterType="int" resultType="Board">
		SELECT BOARD_NO,
				CATEGORY_NAME,
				CATEGORY_NO,
				BOARD_TITLE,
				BOARD_CONTENT,
				MEMBER_ID,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		FROM BOARD B
		LEFT JOIN CATEGORY USING(CATEGORY_NO)
		JOIN MEMBER M ON(BOARD_WRITER = MEMBER_NO)
		WHERE B.STATUS = 'Y'
		AND BOARD_NO = ${boardNo}
	</select>
	
	<update id="updateAttachment" parameterType="Attachment">
		UPDATE ATTACHMENT
		   SET 	ORIGIN_NAME = #{originName},
				CHANGE_NAME = #{changeName},
				FILE_PATH = #{filePath}
		 WHERE FILE_NO = ${fileNo}
	</update>
	
	<insert id="insertNewAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			FILE_NO,
			REF_BNO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH
		) VALUES(
			SEQ_FNO.NEXTVAL,
			#{refBno},
			#{originName},
			#{changeName},
			#{filePath}
		)
	</insert>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD
		SET
			STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="deleteFile" parameterType="int">
		UPDATE ATTACHMENT
		SET
			STATUS = 'N'
		WHERE FILE_NO = ${fileNo}
		AND STATUS = 'Y'
	</update>
	
</mapper>