<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<!--  resultMap 조회된 resultMap의 결과를 특정 객체에 맵핑할 맵핑 정보를 기술하는 것 -->
	<!-- board -->
	<resultMap id="boardResultMap" type="Board">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="COUNT" property="count"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="THUMBNAIL_IMG" property="thumbnailImg"/>
		
	</resultMap>
	<!-- category -->
	<resultMap id="cateResultMap" type="Category">
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
	</resultMap>
	<!-- attachment -->
	<resultMap id="attaResultMap" type="Attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="REF_BNO" property="refBno" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="STATUS" property="status" />
	</resultMap>
	<!-- reply -->
	<resultMap id="replyResultMap" type="Reply">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REF_BNO" property="refBno"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="MEMBER_ID" property="memberId"/>
		
	</resultMap>
	
<!-- 
	select문 사용시
	<select id="식별자" resultType="결과타입" | resultMap="직접 매핑한 resultMap의 아이디">
		select * from Blog where id = #{id}
	</select>
 -->
 	
 	<!-- 게시물 갯수 조회 -->
 	<select id="selectAllBoardCount" resultType="int">
 		SELECT COUNT(*)
 		FROM BOARD
 		WHERE STATUS = 'Y'
 	</select>
 	
 	<!-- 게시물 갯수 조회 -->
 	<select id="selectSearchBoardCount" resultType="int">
 		SELECT COUNT(*)
 		FROM BOARD B
 		JOIN MEMBER ON (BOARD_WRITER = MEMBER_NO)
 		WHERE B.STATUS = 'Y'
 		<choose>
 			<when test="condition == 'writer'">
 				AND MEMBER_ID
 			</when>
 			<when test="condition == 'title'">
 				AND BOARD_TITLE
 			</when>
 			<otherwise>
 				AND BOARD_CONTENT 
 			</otherwise>
 		</choose>
 		LIKE '%${keyword}%'
 		
 	</select>
 
 	<!-- 게시물 조회 -->
 	<select id="selectAllBoard" resultMap="boardResultMap">
	 	SELECT BOARD_NO,
				CATEGORY_NAME,
				BOARD_TITLE,
				MEMBER_ID,
				COUNT,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM BOARD A
	    JOIN CATEGORY USING(CATEGORY_NO)
	    JOIN MEMBER C
	    ON A.BOARD_WRITER = C.MEMBER_NO
	    WHERE A.STATUS = 'Y'
	    AND A.BOARD_TYPE = 1
	    ORDER BY A.BOARD_NO DESC
 	</select>
 	
 	<select id="selectSearchBoard" resultMap="boardResultMap">
 		SELECT BOARD_NO,
				CATEGORY_NAME,
				BOARD_TITLE,
				MEMBER_ID,
				COUNT,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM BOARD A
	    JOIN CATEGORY USING(CATEGORY_NO)
	    JOIN MEMBER C
	    ON A.BOARD_WRITER = C.MEMBER_NO
	    WHERE A.STATUS = 'Y'
	    AND A.BOARD_TYPE = 1
	    <choose>
	    	<when test="condition == 'writer'">
	    		AND C.MEMBER_ID
	    	</when>
	    	<when test="condition == 'title'">
	    		AND BOARD_TITLE
	    	</when>
	    	<otherwise>
	    		AND BOARD_CONTENT
	    	</otherwise>
	    </choose>
	    LIKE '%${keyword}%'
	    ORDER BY A.BOARD_NO DESC
 	</select>
 	<!-- 게시물 카테고리 조회 -->
 	<select id="categoryList" resultMap="cateResultMap">
 		SELECT CATEGORY_NO,
				CATEGORY_NAME
		FROM CATEGORY
 	</select>
 	
 	<!-- 게시물 등록 -->
 	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(
			BOARD_NO,
			BOARD_TYPE,
			CATEGORY_NO,
			BOARD_TITLE,
			BOARD_CONTENT,
			BOARD_WRITER,
			COUNT,
			CREATE_DATE,
			STATUS
		) VALUES (
			SEQ_BNO.NEXTVAL,
			#{boardType},
			#{categoryNo},
			#{boardTitle},
			#{boardContent},
			#{boardWriter},
			0,
			SYSDATE,
			'Y' 
		)
 	</insert>
 	
 	 	<!-- 게시물 등록 -->
 	<insert id="insertThumBoard" parameterType="Board">
		INSERT INTO BOARD(
			BOARD_NO,
			BOARD_TYPE,
			BOARD_TITLE,
			BOARD_CONTENT,
			BOARD_WRITER,
			COUNT,
			CREATE_DATE,
			STATUS
		) VALUES (
			SEQ_BNO.NEXTVAL,
			#{boardType},
			#{boardTitle},
			#{boardContent},
			#{boardWriter},
			0,
			SYSDATE,
			'Y' 
		)
 	</insert>
 	
 	<!-- 파일 첨부 -->
 	<insert id="insertAttachment" parameterType="Attachment">
 		INSERT INTO ATTACHMENT (
			FILE_NO,
			REF_BNO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			FILE_LEVEL,
			UPLOAD_DATE
		) VALUES (
			SEQ_FNO.NEXTVAL,
			SEQ_BNO.CURRVAL,
			#{originName},
			#{changeName},
			#{filePath},
			#{fileLevel},
			SYSDATE
		)
 	</insert>


	<!-- 첨부 파일 조회 -->
	<select id="selectBoardFile" parameterType="int" resultMap="attaResultMap">
		SELECT FILE_NO,
				REF_BNO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_PATH,
				UPLOAD_DATE,
				FILE_LEVEL,
				STATUS
		FROM ATTACHMENT
		WHERE REF_BNO = #{boardNo}
		AND STATUS = 'Y'
	</select>
	
	<!-- 게시물 수정 -->
	<update id="updateBoardDetail" parameterType="Board">
		UPDATE BOARD
		SET
			CATEGORY_NO = #{categoryNo},
			BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<!-- 게시물 상세 조회 -->
	<select id="boardDetail" parameterType="int" resultMap="boardResultMap">
		SELECT BOARD_NO,
				CATEGORY_NAME,
				CATEGORY_NO,
				BOARD_TITLE,
				BOARD_CONTENT,
				BOARD_WRITER,
				MEMBER_NAME,
				MEMBER_ID,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		FROM BOARD B
		LEFT JOIN CATEGORY USING(CATEGORY_NO)
		JOIN MEMBER M ON(BOARD_WRITER = MEMBER_NO)
		WHERE B.STATUS = 'Y'
		AND BOARD_NO = ${boardNo}
	</select>
	
	<!-- 게시물 조회수 증가 -->
	<update id="increaseCount" parameterType="int">
		UPDATE BOARD
		SET
			COUNT = COUNT + 1
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<!-- 첨부 파일 수정 -->
	<update id="updateAttachment" parameterType="Attachment">
		UPDATE ATTACHMENT
		   SET 	
		   		ORIGIN_NAME = #{originName},
				CHANGE_NAME = #{changeName},
				FILE_PATH = #{filePath}
		 WHERE FILE_NO = ${fileNo}
	</update>
	
	<!-- 사진 게시물 파일 첨부 -->
	<insert id="insertNewAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			FILE_NO,
			REF_BNO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH
		) VALUES(
			SEQ_FNO.NEXTVAL,
			#{refBno},
			#{originName},
			#{changeName},
			#{filePath}
		)
	</insert>
	
	<!-- 게시물 삭제 -->
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD
		SET
			STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 파일 삭제 -->
	<update id="deleteFile" parameterType="int">
		UPDATE ATTACHMENT
		SET
			STATUS = 'N'
		WHERE FILE_NO = ${fileNo}
		AND STATUS = 'Y'
	</update>
	
	<!-- 게시물 댓글 조회 -->
	<select id="selectReplyByBoardNo" parameterType="int" resultMap="replyResultMap">
		SELECT REPLY_NO,
				REPLY_CONTENT,
				MEMBER_ID,
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH:MI') AS CREATE_DATE
		  FROM REPLY R
		  JOIN MEMBER M ON(REPLY_WRITER = MEMBER_NO)
		 WHERE R.STATUS = 'Y'
		   AND REF_BNO = ${boardNo}
		 ORDER BY REPLY_NO DESC
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY(
			REPLY_NO,
			REPLY_CONTENT,
			REF_BNO,
			REPLY_WRITER
		) VALUES(
			SEQ_RNO.NEXTVAL,
			#{replyContent},
			${refBno},
			#{replyWriter}
		)
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="int">
		DELETE 
		FROM REPLY
		WHERE REPLY_NO = ${replyNo}
	</delete>
	
	<!-- 사진 게시물 첨부 파일 조회 -->
	<select id="selectAttachmentList" parameterType="int" resultMap="attaResultMap">
		SELECT FILE_NO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			FILE_LEVEL
	 	FROM ATTACHMENT
		WHERE REF_BNO = ${boardNo}
	</select>
	
	<select id="selectThumnailList" resultMap="boardResultMap">
		SELECT BOARD_NO,
				BOARD_TITLE,
				COUNT,
				FILE_PATH || CHANGE_NAME AS "THUMBNAIL_IMG"
		FROM BOARD B
		JOIN ATTACHMENT A ON(BOARD_NO = REF_BNO)
		WHERE B.STATUS = 'Y'
		AND B.BOARD_TYPE = 2
		AND FILE_LEVEL = 1
		ORDER BY B.BOARD_NO DESC
	</select>
</mapper>